/* Assurez-vous que le body et le html prennent toute la hauteur */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Fond léger pour une meilleure visibilité */
}


.body{
  background-color: #f5ebeb00;
}
/* Container principale pour centrer le contenu */
.container {
  margin: 0 auto;
width: 75%;  padding: 20px;
background-color: #fdf6fd;

  box-sizing: border-box;
  padding-top: 100px; /* Ajustez en fonction de la hauteur de la barre de navigation */
}

/* Styles pour le titre de la page */
.page-title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px; /* Espace entre le titre et la liste des posts */
  margin-bottom: 20px; /* Espace entre le titre et la liste des posts */
  color: #111218;
   /* Couleur du titre */
}

/* Styles pour la liste des posts */
.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Largeur minimale augmentée pour des cartes plus larges */
  gap: 20px; /* Espacement entre les cartes */
}

/* Styles pour chaque post card */
.post-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Coins arrondis */
  overflow: hidden; /* Masquer tout débordement */
}

/* Styles pour l'image du post */
.post-image img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Limite la hauteur des images */
  border-radius: 5px;
  object-fit: cover;
}

/* Styles pour les détails du post */
.post-details {
  margin-top: 15px;
  flex: 1; /* Prend tout l'espace disponible */
  display: flex;
  flex-direction: column;
}

/* Styles pour le nom du post */
.post-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Styles pour le contenu du post */
.post-content {
  font-size: 1em;
  margin-bottom: 10px;
  color: #333333; /* Couleur de texte plus foncée pour une meilleure lisibilité */
}

/* Styles pour les informations du post */
.post-info {
  margin-top: 10px;
}

.info-label {
  font-weight: bold;
}

.info-value {
  margin-left: 10px;
}

/* Styles pour les actions du post */
.post-actions {
  margin-top: 15px;
  display: flex;
  gap: 10px; /* Espacement entre les boutons */
  justify-content: flex-end;
  border-radius: 5px;
}
